.venv
.env
utils/
.idea/*
linkedin_prospection.db
scratch.py
scratch2.py
src/__pycache__
app/ihm/dist/*
app/ihm/build/*
app/ihm/gui.spec
app/ihm/__pycache__/
app/src/__pycache__/
app/ihm/__pycache__/
